doctype html
html
  head
    title MJ's Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            #logo 
                img(src="/static/img/logo.png")
            li #[a(href="/") Home]
            li #[a(href="/About") About]
            li #[a(href="/services") Services]
            li #[a(href="/classes") Classes info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2022 MJ's Academy.com | All Rights Reserved